body {
  background-color: grey;
  padding: 100px;
}
.botao01 {
  margin: 15px;
  background-color: yellow;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  width: 150px;
  height: 40px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
}
.dentroBotao01 {
  background-color: white;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  & h5 {
    font-size: medium;
    font-weight: bold;
  }
}

.botao02 {
  margin: 15px;
  background-color: yellow;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  width: 70px;
  height: 100px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}
.dentroBotao02 {
  background-color: white;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  & h5 {
    color: yellow;
    text-shadow:  0px 0px 10px rgba(0,0,0,1);
    font-size: 300%;
    font-weight: bold;
  }
}
.textoBotao02 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: smaller;
  font-weight: bold;
}
.botao01:hover, .botao02:hover {
  background-color: brown;
}