/* src/Gallery.css */
/* Define o tamanho padrão para as imagens na galeria */
.image-container {
    background-color: rgb(67, 67, 67);
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}
.image-container img {
    /* width: 150px; */
    height: 150px;
    border-radius: 10px;
    margin: 5px;
    &:hover {
        transform: scale(1.1);
    }
}
button, input {
    margin: 5px;
    background-color: aqua;
}