body {
  background-color: rgb(96, 105, 134);
  background-image: url(img/backgroundtest.jpg);
  background-size: 100vh no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* <MENU> */
.logo {
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  align-items: center;
}

.header {
  background-color: rgba(163, 175, 214, 0.695);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  position: fixed;
  z-index: 1;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 500ms linear;
}

.header:hover {
  background-color: rgb(200, 207, 232);
}

.header a {
  color: rgb(43, 56, 66);
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header a:hover {
  color: white;
}

/* </MENU> */

/* <MOBILEMENU> */
.mobile a {
  color: rgb(43, 56, 66);
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.mobile a:hover {
  color: white;
}

.mobile {
  background-color: rgba(163, 175, 214, 0.792);
  border-radius: 8px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  position: fixed;
  z-index: 1;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  top: 65px;
  bottom: auto;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 0%;
}

.mobile:hover {
  background-color: rgb(163, 175, 214);
  transition: background-color 0.3s linear;
}

.checkbox {
  all: unset;
  display: none;
  transition: display 500ms linear;
}

.menu-toggle {
  display: none;
  background-image: url("img/hamburger.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#menu-toggle:checked~.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190%;
  transition: height 03s linear;
}

/* </MOBILEMENU> */

/* <CATEGORIAS> */
.categories {
  width: 95%;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(134, 149, 170);
  border-radius: 25px;
  padding: 5px;
  overflow: auto;
}

.categories div {
  background-color: rgb(134, 149, 170);
  color: black;
  box-shadow: none;
  border-radius: 20px;
  margin: 5px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 200ms linear, box-shadow 200ms linear,
    transform 200ms linear, color 200ms linear;
}

.categories div:hover {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  cursor: pointer;
  background-color: rgb(40, 149, 192);
  color: white;
  transform: scale(1.1);
}

.icons {
  height: 35px;
}

/* </CATEGORIAS> */

/* <CONTEUDO> */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.contentCards {
  display: flex;
  flex-direction: row;
  margin: 1px;
  width: 95%;
  align-items: center;
}

.card {
  background-color: rgb(134, 149, 170);
  width: 25%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  transition: transform 0.3s ease, background-color 300ms linear,
    backdrop-filter 300ms linear;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(134, 149, 170, 0.507);
  backdrop-filter: blur(20px);
}

.cardText {
  background-color: white;
  background-image: none;
  height: 350px;
  transition: transform 300ms linear;
}

.contentCards div {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.contentCards div:hover {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  cursor: pointer;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

/* </CONTEUDO> */

.footer {
  display: flex;
  align-items: center;
  background-color: rgb(26, 50, 101);
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.criador h5 {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}


/* <BARRA DE ROLAGEM> */
.categories::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.categories::-webkit-scrollbar-track {
  background: rgb(134, 149, 170);
  border-radius: 20px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: rgb(16, 51, 71);
  border-radius: 20px;
  border: 1px solid rgb(105, 113, 141);
}

.categories::-webkit-scrollbar-thumb:hover {
  background-color: rgb(40, 71, 88);
}

/* </BARRA DE ROLAGEM> */

.about {
  width: 80%;
  margin-top: 100px;
  background-color: rgb(134, 149, 170);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 300ms linear;
}

/* <SOBRE> */
.about:hover {
  background-color: rgb(162, 174, 190);
}

.about img {
  position: relative;
  width: 40%;
  border-radius: 200px;
  transition: transform 300ms linear, border-radius 300ms linear;
}

.about img:hover {
  border-radius: 20px;
  transform: scale(1.2);
}
/* </SOBRE> */

/* <CONTATO> */
.contentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  width: 50%;
}

.inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inf input, .inf select {
  color: black;
}
.form2,
.form3 {
  background-color: rgb(170, 180, 189);
  border-radius: 6px;
  transition: background-color 300ms linear;
  margin: 15px;
  width: 80%;
}

.form2:hover,
.form3:hover {
  background-color: white;
}

.botoes {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3e758e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botoes:hover {
  background-color: #3e858e;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

textarea {
  width: 90%;
}
/* </CONTATO> */

/* <GALERIA> */
.galeria {
  width: 80%;
  margin-top: 100px;
  background-color: rgb(134, 149, 170);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  aspect-ratio: 16/9;
}

.slider {
  display: flex;
  margin: auto;
  position: relative;
  padding: 0;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.slider input {
  display: none;
}

.slider label {
  background-color: white;
  border-radius: 100%;
  bottom: 10px;
  cursor: pointer;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;

}

.slider li:nth-child(2) label {
  left: 40px;

}

.slider li:nth-child(3) label {
  left: 70px;

}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked~img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .inf {
    flex-direction: row;
  }

  .contentForm {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .dropdown {
    display: inline;
  }

  .categories {
    border-radius: 25px 25px 12px 12px;
  }

  .categories div {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card:hover {
    transform: none;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .contentCards {
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 85%;
  }

  .link {
    display: none;
  }

  .inf {
    flex-direction: column;
  }

  .contentForm {
    width: 100%;
  }

  .form2 {
    width: 80%;
  }

  .menu-toggle {
    display: block;
  }
}