body {
    background-color: #000; /* cor de fundo escura */
    margin: 0;
    padding: 0;
    overflow: hidden; /* para evitar barras de rolagem */
}

.lanterna {
    position: fixed;
    width: 200px; /* largura da "lanterna" */
    height: 200px; /* altura da "lanterna" */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.8) 80%);
    border-radius: 50%; /* forma de círculo */
    z-index: 9999; /* garantir que fique acima de outros elementos */
    pointer-events: none; /* para não atrapalhar a interação com outros elementos */
    opacity: 0; /* começa invisível */
    transition: opacity 0.5s, transform 0.1s; /* transição suave da opacidade e da transformação */
}

.conteudo {
    /* color: #fff; cor do texto */
    position: relative;
    z-index: 1; /* garantir que fique acima da "lanterna" */
    padding: 20px;
    font-family: Arial, sans-serif;
}
