:root {
    --primary-color: rgb(0, 0, 52);
    --secondary-color: rgb(196, 168, 249);
    --secondary-color-hover: white;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    background-color: var(--primary-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar div {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    text-align: center;
    font-size: 10px;
}

.sidebar div:hover {
    color: var(--secondary-color-hover);
    border-radius: 5px;
    background: rgb(57,81,205);
    background: radial-gradient(circle, rgb(0, 0, 119) 0%, rgb(0, 0, 52) 80%);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}