body {
    margin: 0;
}

.menu01 {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #549494;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    & ul {
        display: flex;
        gap: 50px;
        list-style: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

header:hover>.menu02 {
    position: fixed;
    transition: position 500ms linear;

}

.menu02 {
    top: 80px;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: #549494;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    & ul {
        display: flex;
        gap: 50px;
        list-style: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        & li {
            padding: 5px;
            width: 60px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
            background-color: #6ebbbb;
            }
        }
    }
}

img {
    height: 50px;
    border-radius: 50%;
}

.buscar, .logar {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        height: 30px;
        border-radius: 50%;
    } & button {
        background-color: #549494;
        border-radius: 10px;
        border: none;
    } & input {
        border: none;
        width: 40vw;
        height: 30px;
    }
}
.logar {
    background-color: #549494;
    border-radius: 10px;
    border: none;
    padding: 5px;
    gap: 5px;
    & p {
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } &:hover {
        background-color: #6ebbbb;
        & p {
            color: white;
        }
    } &:active {
        background-color: #549494;
    }
}

.hamburguer, .carrinho {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border: none;
    &:first-child {
        border-radius: 25px 5px 5px 25px;
    } &:last-child {
        border-radius: 5px 25px 25px 5px;
    } &:hover {
        transform: scale(1.05);
    }
}
.buscar {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.menuButton {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #6ebbbb;
  padding: 5px;
  gap: 5px;
  border-radius: 60px;
  & img {
    height: 100%;
  }
}
.content {
    margin-top: 160px;
}

@media only screen and (max-width: 780px) and (orientation: portrait) {
    .menu02, .logar {
        display: none;
    }
    .buscar input {
        width: 60vw;
    }
}