.ribbonmenu {
    background-color: #f5f6f7;
}

.abas {
    padding: 1px;
    display: flex;
}
.abas li:nth-child(2) {
    border: 0px;
}
.abas li:nth-child(3) {
    border: 0px;
}

.aba {
    border: 1px;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
    padding: 0px 10px 0px 10px;
}

.aba a {
    text-decoration: none;
    color: black;
}

.conteudo {
    display: flex;
}

.grupo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #dadbdc;
}
.grupoI {
    display: flex;
    justify-content: space-between;
}
.botao {
    height: 60px;
    width: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-width: 0px;
}
.botao:hover {
    border: 1px;
    border-color: rgba(127, 255, 212, 0.42);
    border-style: solid;
    background-color: rgb(238, 255, 254);
}
.icon {
    display: flex;
}

.icon img {
    width: 20px;
    height: 20px;
}

.titulo {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #dadbdc;
}

.grupoBotoes {
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #dadbdc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grupoBotoes2 {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.botaoL {
    display: flex;
    margin: 1px;
    background-color: white;
    border: none;
}
.botaoL:hover {
    border: 1px;
    border-color: rgba(127, 255, 212, 0.42);
    border-style: solid;
    background-color: rgb(238, 255, 254);
}

.iconP img {
    width: 10px;
    height: 10px;
}