.agendamento {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
#appointment-form {
    & form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
}
.tipoServico {
    display: flex;
    background-color: var(--primary-color);
    height: 130px;
    padding: 10px;
    gap: 5px;
}
.servicosInput {
    all: unset;
    /* display: none; */
    transition: display 500ms linear;
  }
.servicoLabel {
    background-color: red;
    background-image: url("img/cao01.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    &:checked {
        background-color: green;
    }
  }