:root {
  --cor01: #92dad9;
  --cor02: #dcebeb;
  --cor03: #f7e2e1;
  --cor04: #eca4a4;
  --cor05: #ac6869;
}
body {
  background-color: var(--cor03);
  height:100vh;
}
.Sidebar {
  width: 50px;
  background-color: var(--cor05);
  display: flex;
  position: fixed; top: 5px; left: 5px; bottom: 5px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: width 200ms linear;
}
.logo {
    margin-top: 10px;
    margin-bottom: 30px;
  width: 50px;
}
.Sidebar:hover {
  height: 100vh;
  width: 150px;
  transition: width 200ms linear;
}
.Sidebar:hover > .links a {
  display: inline;
}

.links {
  display: flex;
  align-items: center;
  height: 50px;
  transition: transform 100ms linear;
}
.links:hover {
    transform: scale(1.2);
    transition: transform 100ms linear;
}
.links img {
  height: 30px;
  width: 30px;
}
.links a {
  display: none;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cor02);
  text-align: center;
  margin-left: 10px;
}