body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(58, 76, 86);
  color: white;
}

input {
  border-radius: 5px;
  margin: 5px;
}
button {
  background-image: url("img/x.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: none;
  height: 23px;
  width: 23px;
  border-radius: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
