:root {
  --primary-color: green;
  --secundary-color: brown;
  --tertiary-color: white;
  --quaternary-color: yellow;
  --quinary-color: green;
  --senary-color: green;
}
body {
  margin: 0px;
}
header {
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.38);
}
header img {
  height: 30px;
}
header img:last-child {
  display: none;
}

header a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.subir {
  background-color: var(--primary-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.38);
}
.subir img {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.subir:hover {
  transform: scale(1.2);
}
.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slider {
  overflow: hidden;
}
.slider > .slider-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}

.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content {
  transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content {
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content {
  transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content {
  transform: translateX(-300%);
}
.slider-content img {
  height: 200px;
}

/* PRODUTO */
.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}
.card {
  margin: 10px;
  border-radius: 5px;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.card img {
  height: 50%;
  border-radius: 5px;
}
.nomeProd {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.preco {
  color: var(--quaternary-color);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
/* LOGIN */
.login {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.loginContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 450px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}
.login img {
  max-width: 250px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.38);
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.caixa {
  margin: 10px 0px 0px 0px;
}
.lembrar {
  margin-top: 5px;
}
.login a {
  margin-top: 5px;
}
.botoes {
  margin: 5px;
}
.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  align-items: center;
  background-color: rgb(26, 50, 101);
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.criador h5 {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  header img:last-child {
    display: block;
  }
  header a {
    display: none;
  }
  .loginContent {
    flex-direction: column;
    width: 70%;
  }
}
